{% extends "@FOSUser/layout.html.twig" %}


{% block title %}AppBundle:Item:detail{% endblock %}

{% set total = 0 %}

{% block content %}

    <!-- checkout -->
    <div class="cart-items">
        <div class="container">
            <div class="dreamcrub">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="/" title="Go to Home Page">Home</a>&nbsp;
                        <span>&gt;</span>
                    </li>
                    <li class="women">
                        pokebag
                    </li>
                </ul>
                <ul class="previous">
                    <li><a href="/">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <h2>MY POKEBAG</h2>



            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Pokemon's Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total HT</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if items|length == 0 %}
                        <tr>
                            <td>No items in your pokebag</td>
                        </tr>
                    {% endif %}
                    {% for item in items %}
                        <tr>
                            <form action="{{ path('addToBag',{'id' : item.id}) }}" method="get">
                                <td>{{ item.name }}</td>
                                <td>
                                    <select name="qte" onChange="this.form.submit()">
                                        {% for i in 1..10 %}
                                            <option value="{{ i }}" {% if i == myBag[item.id]  %} selected="selected" {% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                    <a href="{{ path('deleteToBag', {'id' : item.id}) }}"><i class="fa fa-trash"> </i></a>
                                </td>
                                <td>$ {{ item.price }}</td>
                                <td>$ {{ item.price * myBag[item.id] }}</td>
                            </form>
                        </tr>

                        {% set total = total + (item.price * myBag[item.id]) %}

                    {% endfor %}
                    </tbody>
                </table>

                <div class="col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">Total : </div>
                        <div class="col-md-3  col-sm-3">$ {{ total }} </div>
                    </div>

                </div>
            </div>
        </div>
    </div>











{% endblock %}